---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Tools utils :c" emoji="&#128528">
    <main class="w-full h-screen flex items-center justify-center flex-row text-center">
        <h1 class="text-3xl">No encontramos lo que estabas buscando &#128542</h1>
    </main>
</Layout>