---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

let options = [
	{
		title: "Difference Between Dates",
		src:"/img/dates-icon.svg",
		link:"/tools_utils/between-dates"
	},
	{
		title: "Password Generator",
		src:"/img/door-icon.svg",
		link:"/tools_utils/construction"
	},
	{
		title: "Character Counter",
		src:"/img/character-icon.svg",
		link:"/tools_utils/construction"
	},
	{
		title: "Copy Emojis",
		src:"/img/emojis-icon.svg",
		link:"/tools_utils/construction"
	}
]

---

<Layout title="Tools utils - :D" emoji="😋">
	<main class="flex items-center flex-row justify-center m-10 flex-wrap max-w-screen-lg">
		{
			options.map(op => (
				<Card title={op.title} src={op.src} link={op.link}/>
			))
		}
	</main>
</Layout>
