---
export interface Props {
    title: string;
    src: string;
    link: string;
}

const { title, src, link } = Astro.props;
---

<a href={link} class="w-80 m-5 aspect-video bg-zinc-100 rounded-lg flex flex-col shadow-md hover:bg-zinc-400 items-center p-3 hover:grayscale-[50%]">
    <h3 class="text-center mr-3 ml-3 mb-3 border-b-2 border-black text-xl w-10/12 p-1">{title}</h3>
    <img src={src} alt="" class="w-10/12 aspect-video saturate-150">
</a>
