---
export interface Props {
	emoji: string;
}

const { emoji } = Astro.props;
---
<a href="/tools_utils/">
	<nav class="border-zinc-200 flex w-full h-20 flex-row items-center justify-center">
		<h1 class="text-3xl font-bold ">Tool utils... {emoji}</h1>
	</nav>
</a>